ul li {
  list-style-type: none;
  display: inline-block;
}
.container-c {
  width: 80%;
  margin: 0 auto;
}
#center {
  display: flex;
  justify-content: center;
}
.card {
  background-color: #122117;
  width: 320px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
}
.card img {
  width: 200px;
  height: 200px;
}
.card h1 {
  color: white;
  font-size: 16pt;
}
.card h2 {
  color: white;
  font-size: 14pt;
}
.card span {
  color: white;
}
